/* Estilização da seção Metas */
@font-face {
    font-family: 'Passion One';
    src: url(/fonts/Passion_One/PassionOne-Bold.ttf);
}

.metas {
    margin-top: 8rem;
    padding: 3rem 0;
    display: flex;
    align-items: center;
}

.metas .container {
    padding: 0 15px;
}

.metas h1 {
    font-family: 'Passion One';
    font-size: 2.5rem;
    color: #251C08;
    font-weight: 400;
    margin-bottom: 2rem;
}

.metas p {
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .metas {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .metas h1 {
        margin-bottom: 1rem;
    }

    .metas .col-md-6 {
        margin-top: 0;
    }
    
    .metas img {
        margin-top: 8rem;
        margin-right: 0;
    }
}
