/* Estilos para o cabeçalho */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    width: 150px;
}

a {
    text-decoration: none;
    color: #251C08;
    margin-left: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

/* Estilos para telas menores (responsivo) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    a {
        margin: 10px 0;
    }
}
