/* Estilos para o cabeçalho */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    width: 150px;
}

a {
    text-decoration: none;
    color: #251C08; /* Cor do texto no cabeçalho */
    margin-left: 20px; /* Espaçamento entre os itens do menu */
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Alinhar os itens do menu horizontalmente */
}

/* Estilos para telas menores (responsivo) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Alinha os itens verticalmente em telas pequenas */
        text-align: center; /* Centraliza os itens do menu */
    }

    a {
        margin: 10px 0; /* Espaçamento entre os itens do menu */
    }
}
