@charset "UTF-8";

.homehero {
    margin-top: 8rem;
    display: flex;
}

.homeherotext h1 {
    font-family: 'Oswald', sans-serif;
    line-height: 65px;
    font-size: 4.5rem;
    font-weight: 700;
    color: #251C08;
}

.homeherotext-p {
    font-size: 1.5rem;
    color: #251C08;
}

.homeherotext span {
    font-weight: bold;
}

.img-homehero {
    position: relative;
    top: -3.5rem;
}

@media (max-width: 768px) {
    .homehero {
        flex-direction: column;
        text-align: center;
    }

    .homeherotext h1 {
        font-size: 3rem;
    }

    .img-homehero {
        margin-top: 0;
    }
}
